[submodule "Kanto/vendor/spdlog"]
	path = Kanto/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kanto/vendor/GLFW"]
	path = Kanto/vendor/GLFW
	url = https://github.com/jerrykunz/glfw.git
